<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friday-System</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">用户评论管理</a>
            <a>
                <cite>评论列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<div class="layui-fluid">
    <div class="layui-row  layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form  layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="shopname"  placeholder="请输入商品名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>


                <div class="layui-card-body ">
                    <table class="layui-hide" id="table" lay-filter="member"></table>
                </div>

                <div class="layui-card-body ">
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    <script type="text/html" id="buttonTpl">
                        {{#  if(d.display == 1){ }}
                        <input type="checkbox" uid={{d.id}} name="switch" lay-filter="switch" lay-skin="switch" checked lay-text="启用|禁用">
                        {{#  } else { }}
                        <input type="checkbox" uid={{d.id}} name="switch" lay-filter="switch" lay-skin="switch" lay-text="启用|禁用">
                        {{#  } }}
                    </script>
                   <!-- <script type="text/html" id="starTpl">
                        <div id="star" uid={{d.id}} class="star_container"></div>
                    </script>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['table','rate'], function(){
        var table = layui.table,
            form = layui.form;
        var rate=layui.rate;

        table.render({
            elem: '#table'
            ,url: '/shopcontexts/listPage' //数据接口
            ,page: true //开启分页
            ,response: {
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                    {field : 'id', title : 'ID'},
                    {field : 'name', title : '商品名称'},
                    {field : 'context', title : '评论内容'},
                    {field : 'modified', title : '发布时间'},
                    {field : 'username', title : '发布者'},
                    {field: 'display', title:'状态', templet: '#buttonTpl',  align: 'center'},
                    {field: 'star', title: '星级',
                    templet: function(d){
                        return '<div uid="'+d.id +'"id="star'+d.id+'"></div>'}},
                    {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ],done:function (res) {
               var datas=res.datas;
               for (var i in datas){
                  rate.render({
                      elem:'#star'+datas[i].id,
                      value:datas[i].star
                  });
               }
            }
        });

        form.on('switch(switch)',function (data) {
            //获取当前行的用户id
            var id=$(this).attr('uid');
            var status=data.elem.checked?"1":"0";
            $.ajax({
                url:'/shopcontexts/edit'
                ,type:"POST"
                ,data:{
                    id:id,
                    display:status
                }
                ,dataType:'json'
                ,success : function (data) {
                    layer.alert("修改成功");
                    form.render();
                }
            });
        });

        //监听工具条
        table.on('tool(member)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"/shopcontexts/delete",
                        type:"GET",
                        data:{id:data.id},
                        dataType:'json',
                        success:function(result){
                            layer.alert("删除成功", {icon: 1},function (index1) {
                                layer.close(index1);
                                table.reload('table');
                            });
                        },
                    });

                });
            } else if(obj.event === 'edit'){
                xadmin.open('编辑用户信息','/shopcontexts/edit/?id='+data.id);
            }
        });


        //搜索
        form.on('submit(search)', function(data){
            var username = data.field.username;
            var shopname=data.field.shopname;
            table.render({
                elem: '#table'
                ,url: '/shopcontexts/search' //数据接口
                ,page: true //开启分页
                ,where:{
                    username:username
                    ,shopname:shopname
                }
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {field : 'id', title : 'ID'},
                        {field : 'name', title : '商品名称'},
                        {field : 'context', title : '评论内容'},
                        {field : 'modified', title : '发布时间'},
                        {field : 'username', title : '发布者'},
                        {field: 'display', title:'状态', templet: '#buttonTpl', minWidth: 80, align: 'center'},
                        {field: 'star', title:'评分', templet: '#starTpl', minWidth: 80, align: 'center'},
                        {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                    ]
                ]
            });
            return false;
        });
    });
</script>

</html>


