<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxbang.friday.dao.ShopcontextDao">

	<sql id="where">
		<where>
			<if test="params != null">
							<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.modified != null and params.modified != ''">
				and modified = #{params.modified} 
			</if>
			<if test="params.sid != null and params.sid != ''">
				and sid = #{params.sid} 
			</if>
			<if test="params.context != null and params.context != ''">
				and context = #{params.context} 
			</if>
			<if test="params.display != null and params.display != ''">
				and display = #{params.display} 
			</if>
			<if test="params.uid != null and params.uid != ''">
				and uid = #{params.uid} 
			</if>

			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from shopcontext t
		<include refid="where" />
	</select>

	<select id="list" resultType="java.util.HashMap">
		select s.id,s.modified,s.display,s.context,u.username,t.name,s.star from shopcontext s
		LEFT JOIN userinformation u on s.uid=u.id
		LEFT JOIN shopinformation t ON s.sid=t.id
		<include refid="where" />
		limit #{offset}, #{limit}
	</select>


	<select id="searchcount" resultType="int">
		select count(1) from shopcontext s
		LEFT JOIN userinformation u on s.uid=u.id
		LEFT JOIN shopinformation t ON s.sid=t.id
		where 1=1
		<if test="params.username !=null and params.username !=''">
			and u.username=#{params.username}
		</if>
		<if test="params.shopname !=null and params.shopname!=''">
			and t.name=#{params.shopname}
		</if>
	</select>

	<select id="search" resultType="java.util.HashMap">
		select s.id,s.modified,s.display,s.context,u.username,t.name from shopcontext s
		LEFT JOIN userinformation u on s.uid=u.id
		LEFT JOIN shopinformation t ON s.sid=t.id
		where  1=1
		<if test="params.username !=null and params.username!=''">
		and u.username=#{params.username}
		</if>
		<if test="params.shopname!=null and params.shopname !=''">
		  and t.name=#{params.shopname}
		</if>
		limit #{offset}, #{limit}
	</select>




	<update id="update">
		update shopcontext t
		<set>
			<if test="modified != null">
				modified = #{modified}, 
			</if>
			<if test="sid != null">
				sid = #{sid}, 
			</if>
			<if test="context != null">
				context = #{context}, 
			</if>
			<if test="display != null">
				display = #{display}, 
			</if>
			<if test="uid != null">
				uid = #{uid}, 
			</if>

		</set>
		where t.id = #{id}
	</update>

</mapper>
