<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <title>新增信息</title>
    <header th:replace="header::html"></header>
</head>
<body>
    <div class="x-body">
		<form class="layui-form">
             <input id='hiddenId' type='hidden' th:value='${allkinds.id}' name='id' />
			<div class='layui-form-item'>
					<label  for='name'  class='layui-form-label'><span class='x-red'>*</span>name</label>
					<div class='layui-input-inline'>
						<input th:value='${allkinds.name}' class='layui-input' placeholder='name' type='text' name='name' id='name'  lay-verify='required'>
					</div>
			</div>
            <div class="layui-form-item">
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
            </div>
        </form>
    </div>
	<script type="text/javascript">
		layui.use(['form','layer'], function(){
                $ = layui.jquery;
                var form = layui.form
                ,layer = layui.layer
            //监听提交
            form.on('submit(add)', function(data){
                $.ajax({
                    url:"/allkinds/edit",
                    type:"POST",
                    data:data.field,
                    dataType:'json',
                    success:function(result){
                        if(result.code == 500 || result.code == 5000100 || result.code == 5000101 || result.code == 5000102){
                            layer.alert(result.msg);
                        }else{
                            layer.alert("设置成功", {icon: 6},function () {
								//关闭当前frame
								xadmin.close();
								// 可以对父窗口进行刷新
								xadmin.father_reload();
                            });
                        }
                    }
                });
                return false;
             });
          });
	</script>
</body>
</html>
